SECRET_KEY=
ALLOWED_HOSTS=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_CONN_MAX_AGE=60
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=
API_PAGE_SIZE=50
FILE_UPLOAD_MAX_MEMORY_SIZE=10485760
DATA_UPLOAD_MAX_MEMORY_SIZE=10485760
DATA_UPLOAD_MAX_NUMBER_FIELDS=1000
LLAVE_TABASCO_ENABLED=False
LLAVE_TABASCO_ISSUER=https://qakeycloakllave.tabasco.gob.mx/realms/llave_tabasco_portal
LLAVE_TABASCO_CLIENT_ID=sigef
LLAVE_TABASCO_CLIENT_SECRET=
OIDC_CLOCK_SKEW=120