Django==5.2.17
django-environ==0.13.0
djangorestframework==3.17.1
django-filter==25.2
django-cors-headers==4.9.0
django-tables2==3.0.0
django-axes==8.3.1
django-csp==4.0
whitenoise==6.12.0
psycopg[binary]==3.3.4
argon2-cffi==25.1.0
gunicorn==26.0.0
mozilla-django-oidc==5.0.2
