{% extends "_base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'src/app-overrides.css' %}" />
{% endblock extra_css %}

{% block body %}
  <div class="app-shell" x-data="{ sidebarOpen: false }">
    {% include "components/_admin_sidebar.html" %}
    <div class="app-main">
      {% include "components/_topbar.html" %}
      <main class="app-content {% block content_class %}{% endblock %}">
        {% include "components/_messages.html" %}
        {% block content %}{% endblock content %}
      </main>
    </div>
  </div>
{% endblock body %}
