<ol class="wizard-steps wizard-steps--four" aria-label="Pasos de la solicitud">
  <li class="wizard-step is-done"><span class="wizard-step__num">1</span><span class="wizard-step__label">Perfil</span></li>
  <li class="wizard-step is-done"><span class="wizard-step__num">2</span><span class="wizard-step__label">Participación</span></li>
  <li class="wizard-step is-done"><span class="wizard-step__num">3</span><span class="wizard-step__label">Catálogo</span></li>
  <li class="wizard-step is-current"><span class="wizard-step__num">4</span><span class="wizard-step__label">Imágenes</span></li>
</ol>
